.page-header {

  padding: 3rem 0;

  @include media-breakpoint-up(sm) {
    padding: 6rem 0;
  }

  &--primary {
    background-color: $color-primary-dark;
    color: $color-white;
  }

  &__title {
    font-size: 3rem;
  }
}
